 # Техническое задание

In [119]:
import pandas as pd

In [120]:
df = pd.read_csv('/content/test_data.csv')
df.info()
display(df.describe())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Campaign_id        87 non-null     int64
 1   Geo                87 non-null     object
 2   Buyer              87 non-null     object
 3   Impressions        87 non-null     int64
 4   Clicks             87 non-null     int64
 5   Installs           87 non-null     int64
 6   Registrations      87 non-null     int64
 7   Spend              87 non-null     object
 8   Revenue_ad1d       87 non-null     object
 9   Revenue_in_app1d   87 non-null     object
 10  Payers1d           87 non-null     int64
 11  Revenue_ad7d       87 non-null     object
 12  Revenue_in_app7d   87 non-null     object
 13  Payers7d           87 non-null     int64
 14  Revenue_ad30d      87 non-null     object
 15  Revenue_in_app30d  87 non-null     object
 16  Payers30d          87 non-null     int64
dtypes: int64(8), object(9)
memory usage: 11.7+ KB

,Campaign_id,Impressions,Clicks,Installs,Registrations,Payers1d,Payers7d,Payers30d
count,87.000000,8.700000e+01,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,44.000000,1.140572e+05,3804.494253,1211.850575,769.057471,2.034483,2.551724,2.816092
std,25.258662,3.989255e+05,14610.898115,3883.087208,2577.564690,7.169782,8.798465,9.299323
min,1.000000,2.185000e+03,53.000000,10.000000,2.000000,0.000000,0.000000,0.000000
25%,22.500000,1.057700e+04,276.500000,107.500000,44.500000,0.000000,0.000000,0.000000
50%,44.000000,2.619300e+04,724.000000,258.000000,147.000000,0.000000,0.000000,1.000000
75%,65.500000,7.088950e+04,2063.500000,763.500000,501.500000,2.000000,2.000000,3.000000
max,87.000000,3.456974e+06,129508.000000,33054.000000,21932.000000,64.000000,79.000000,83.000000

,Campaign_id,Geo,Buyer,Impressions,Clicks,Installs,Registrations,Spend,Revenue_ad1d,Revenue_in_app1d,Payers1d,Revenue_ad7d,Revenue_in_app7d,Payers7d,Revenue_ad30d,Revenue_in_app30d,Payers30d
0,1,north america,buyer_1,3456974,129508,33054,21932,"3208,440002","1163,521408","162,220001",64,"1381,310062","199,749999",79,"1527,013835","276,629998",83
1,2,north america,buyer_2,245542,6306,3401,2448,"1569,519999","833,059639","37,25",17,"1200,964697","69,340001",19,"1449,001828","120,250001",22
2,3,north america,buyer_1,1281103,35724,13315,8101,"1231,999998","459,6826","3,26",4,"524,987826","24,7",6,"572,633765","24,7",6
3,4,north america,buyer_1,215538,9987,3119,1857,"1228,129999","602,77816","26,13",11,"830,113889","33,439999",12,"1042,831595","57,530002",12
4,5,western europe,buyer_2,335878,7343,3952,2955,"872,570005","427,807238","19,030001",4,"577,039081","20,640001",5,"714,554179","32,150001",6

### Сделаем название столбцов в нижнем регистре

In [121]:
df.columns = df.columns.str.lower()

In [122]:
df.columns

Index(['campaign_id', 'geo', 'buyer', 'impressions', 'clicks', 'installs',
       'registrations', 'spend', 'revenue_ad1d', 'revenue_in_app1d',
       'payers1d', 'revenue_ad7d', 'revenue_in_app7d', 'payers7d',
       'revenue_ad30d', 'revenue_in_app30d', 'payers30d'],
      dtype='object')

Приведём столбцы к нужному типу данных.

In [123]:
df[['spend', 'revenue_ad1d', 'revenue_in_app1d', 'revenue_ad7d', 'revenue_in_app7d', 'revenue_ad30d', 'revenue_in_app30d']] = \
      df[['spend', 'revenue_ad1d', 'revenue_in_app1d', 'revenue_ad7d', 'revenue_in_app7d', 'revenue_ad30d', 'revenue_in_app30d']].replace(',', '.', regex=True)

In [124]:
df[['spend', 'revenue_ad1d', 'revenue_in_app1d', 'revenue_ad7d', 'revenue_in_app7d', 'revenue_ad30d', 'revenue_in_app30d']] = \
          df[['spend', 'revenue_ad1d', 'revenue_in_app1d', 'revenue_ad7d', 'revenue_in_app7d', 'revenue_ad30d', 'revenue_in_app30d']].astype('float')

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   campaign_id        87 non-null     int64
 1   geo                87 non-null     object
 2   buyer              87 non-null     object
 3   impressions        87 non-null     int64
 4   clicks             87 non-null     int64
 5   installs           87 non-null     int64
 6   registrations      87 non-null     int64
 7   spend              87 non-null     float64
 8   revenue_ad1d       87 non-null     float64
 9   revenue_in_app1d   87 non-null     float64
 10  payers1d           87 non-null     int64
 11  revenue_ad7d       87 non-null     float64
 12  revenue_in_app7d   87 non-null     float64
 13  payers7d           87 non-null     int64
 14  revenue_ad30d      87 non-null     float64
 15  revenue_in_app30d  87 non-null     float64
 16  payers30d          87 non-null     int64
dtypes: float64(7), int64(8), object(2)
memory usage: 11.7+ KB

## Обработка пропусков

In [126]:
df.isna().sum()

campaign_id          0
geo                  0
buyer                0
impressions          0
clicks               0
installs             0
registrations        0
spend                0
revenue_ad1d         0
revenue_in_app1d     0
payers1d             0
revenue_ad7d         0
revenue_in_app7d     0
payers7d             0
revenue_ad30d        0
revenue_in_app30d    0
payers30d            0
dtype: int64

Пропусков не обнаружено.

## Обработка дубликатов

In [127]:
df.duplicated().sum()

0

Дубликатов не обнаружено.

# Анализ данных

За целевое действие примем два параметра: количество установок и количество регистраций.

## Conversion Rate или Коэффициент Конверсии

In [128]:
#конверсия установок
cr_installs = df.groupby('buyer')['installs'].sum() / df.groupby('buyer')['impressions'].sum() * 100
print('Конверсия установок', cr_installs.sort_values(ascending=False))

Конверсия установок buyer
buyer_2    1.277468
buyer_3    1.129858
buyer_1    1.013954
buyer_5    0.999892
buyer_4    0.852622
dtype: float64

Очень низкая конверсия для установок.

In [129]:
#конверсия регистраций
cr_registrations = df.groupby('buyer')['registrations'].sum() / df.groupby('buyer')['impressions'].sum() * 100
print('Конверсия регистраций', cr_registrations.sort_values(ascending=False))

Конверсия регистраций buyer
buyer_2    0.771124
buyer_3    0.763642
buyer_5    0.686623
buyer_1    0.643664
buyer_4    0.547268
dtype: float64

Конверсия регистраций достаточно низкая.

## Click-Through Rate или Кликабельность

In [130]:
#кликабельность
ctr = df.groupby('buyer')['clicks'].sum() / df.groupby('buyer')['impressions'].sum() * 100
print('Кликабельность', ctr.sort_values(ascending=False))

Кликабельность buyer
buyer_1    3.633500
buyer_3    3.348850
buyer_5    3.228702
buyer_2    2.601415
buyer_4    2.284233
dtype: float64

Поскольку процент ниже 6, стоит отредактировать рекламную кампанию, чтобы было 7-9 процентов.

# Cost per Click или Цена за Один Клик по Рекламе

In [131]:
#цена за один клик по рекламе
cpc = df.groupby('buyer')['spend'].sum() / df.groupby('buyer')['clicks'].sum()
print('Цена за один клик по рекламе', cpc.sort_values())

Цена за один клик по рекламе buyer
buyer_5    0.017966
buyer_1    0.031808
buyer_2    0.143919
buyer_4    0.160060
buyer_3    0.173417
dtype: float64

 Цена за один клик достаточно низкая, что несомненно является хорошим показателем.

## Cost per Action или  это Цена Одного Целевого Действия Пользователя

### Cost per Install

In [132]:
#цена за один клик по рекламе для установки
cpi = df.groupby('buyer')['spend'].sum() / df.groupby('buyer')['installs'].sum()
print('Цена за одну установку', cpi.sort_values())

Цена за одну установку buyer
buyer_5    0.058013
buyer_1    0.113983
buyer_2    0.293074
buyer_4    0.428812
buyer_3    0.514002
dtype: float64

Цена за одну установку низкая, что тоже хорошо.

### Cost per Registrations

In [133]:
#цена за один клик по рекламе для регистраций
cpr = df.groupby('buyer')['spend'].sum() / df.groupby('buyer')['registrations'].sum()
print('Цена за одну регистрацию', cpr.sort_values())

Цена за одну регистрацию buyer
buyer_5    0.084481
buyer_1    0.179556
buyer_2    0.485516
buyer_4    0.668074
buyer_3    0.760498
dtype: float64

Допустимое значение у всех байеров.

## Customer Acquisition Cost или Стоимость Привлечения Клиента

In [134]:
#стоимость привлечения одного пользователя на 1 жизни
cac1d = df.groupby('buyer')['spend'].sum() / df.groupby('buyer')['payers1d'].sum()
print('Цена за привлечения одного клиента на 1 день жизни', cac1d.sort_values())

Цена за привлечения одного клиента на 1 день жизни buyer
buyer_1     74.341753
buyer_4     87.774616
buyer_3    122.107501
buyer_2    144.509000
buyer_5    641.039996
dtype: float64

In [135]:
#стоимость удержания одного пользователя на 7 день жизки
cac7d = df.groupby('buyer')['spend'].sum() / df.groupby('buyer')['payers7d'].sum()
print('Цена за привлечения одного клиента на 7 день жизни', cac7d.sort_values())

Цена за привлечения одного клиента на 7 день жизни buyer
buyer_1     61.111441
buyer_4     87.774616
buyer_3     93.034286
buyer_2    104.716667
buyer_5    641.039996
dtype: float64

In [136]:
#стоимость удержания одного пользователя на 30 день жизни
cac30d = df.groupby('buyer')['spend'].sum() / df.groupby('buyer')['payers30d'].sum()
print('Цена за привлечения одного клиента на 30 день жизни', cac30d.sort_values())

Цена за привлечения одного клиента на 30 день жизни buyer
buyer_1     58.154435
buyer_3     75.143077
buyer_4     81.505000
buyer_2     91.461392
buyer_5    320.519998
dtype: float64

Стоимость удержания пользователей ниже стоимости привлечения пользователей, что логично.

## Average Revenue per User или Средний Доход от Каждого Активного Пользователя

In [137]:
#средний доход от каждого активного пользователя на 1 день жизни
arpu1d = (df.groupby('buyer')['revenue_ad1d'].sum() + df.groupby('buyer')['revenue_in_app1d'].sum()) / df.groupby('buyer')['payers1d'].sum()
print('Средний доход одного клиента на 1 день жизни', arpu1d.sort_values(ascending=False))

Средний доход одного клиента на 1 день жизни buyer
buyer_5    131.563054
buyer_2     68.272317
buyer_3     68.159396
buyer_4     40.909665
buyer_1     30.063525
dtype: float64

In [138]:
#средний доход от каждого активного пользователя на 7 день жизни
arpu7d = (df.groupby('buyer')['revenue_ad7d'].sum() + df.groupby('buyer')['revenue_in_app7d'].sum()) / df.groupby('buyer')['payers7d'].sum()
print('Средний доход одного клиента на 1 день жизни', arpu7d.sort_values(ascending=False))

Средний доход одного клиента на 1 день жизни buyer
buyer_5    193.016670
buyer_3     75.129542
buyer_2     69.759179
buyer_4     55.669872
buyer_1     30.839975
dtype: float64

In [139]:
#средний доход от каждого активного пользователя на 30 день жизни
arpu30d = (df.groupby('buyer')['revenue_ad30d'].sum() + df.groupby('buyer')['revenue_in_app30d'].sum()) / df.groupby('buyer')['payers30d'].sum()
print('Средний доход одного клиента на 1 день жизни', arpu30d.sort_values(ascending=False))

Средний доход одного клиента на 1 день жизни buyer
buyer_5    107.472795
buyer_3     83.018035
buyer_2     75.751907
buyer_4     68.753098
buyer_1     34.586272
dtype: float64

Больше всего дохода приносит buyer_5, но нужно посмотреть, сколько прибыли исходит от всех байеров.

## Прибыль

In [140]:
profit1d = arpu1d - cac1d
print('Прибыль байеров на 1 день жизни пользователей', profit1d.sort_values(ascending=False))

Прибыль байеров на 1 день жизни пользователей buyer
buyer_1    -44.278228
buyer_4    -46.864951
buyer_3    -53.948104
buyer_2    -76.236683
buyer_5   -509.476942
dtype: float64

In [141]:
profit7d = arpu7d - cac7d
print('Прибыль байеров на 7 день жизни пользователей', profit7d.sort_values(ascending=False))

Прибыль байеров на 7 день жизни пользователей buyer
buyer_3    -17.904744
buyer_1    -30.271465
buyer_4    -32.104744
buyer_2    -34.957488
buyer_5   -448.023326
dtype: float64

In [142]:
profit30d = arpu30d - cac30d
print('Прибыль байеров на 30 день жизни пользователей', profit30d.sort_values(ascending=False))

Прибыль байеров на 30 день жизни пользователей buyer
buyer_3      7.874957
buyer_4    -12.751902
buyer_2    -15.709486
buyer_1    -23.568163
buyer_5   -213.047203
dtype: float64

## Вывод

Несмотря на то, что buyer_3 имеет самую высокую цену за установку (CPI) и за регистрацию (CRP), убыли он приносит меньше всех остальных, а на 30 день жизни пользователя начинает приносить прибыль.